<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mitty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4AEAAFE1DAD3F2C007DEB80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4AEAB121DAD3F2C007DEB80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4AEAB1D1DAD3F2D007DEB80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
